# Database

In [4]:
import pandas as pd

In [5]:
# Load the CSV file
data = pd.read_csv('Project2_version5.csv')

In [6]:
import sqlite3

# Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('books_database.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create a table in the database
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY,
        title TEXT,
        book_price REAL,
        upc TEXT,
        product_type TEXT,
        price_excl_tax REAL,
        price_incl_tax REAL,
        tax REAL,
        availability REAL,
        num_reviews REAL
    )
''')

# Commit the changes to the database
conn.commit()

# Insert data into the table
for _, row in data.iterrows():
    cursor.execute('''
        INSERT INTO books (title, book_price, upc, product_type, price_excl_tax, price_incl_tax, tax, availability, num_reviews)
        VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
    ''', (row['Title'], row['Book Price'], row['UPC'], row['Product Type'], row['Prices(excl. tax)'], row['Prices(incl. tax)'], row['Taxes'], row['Availablities'], row['Number of review']))

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()
print("Data has been successfully stored in the 'books_database.db' SQLite database.")

Data has been successfully stored in the 'books_database.db' SQLite database.